{% extends 'base.html' %}
{% load static %}
{% block title %}Task List{% endblock %}
{% block content %}
    <h1>Task List</h1>
    {% if request.user.is_authenticated %}
        <h2>Hello {{ request.user.username }}</h2>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    {% else %}
        <a href = "{% url 'login' %}">Login</a>
    {% endif %}
    <ul>
        {% for task in object_list %}
            <li>
                <a href="{{ task.get_absolute_url }}">{{ task }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
